---
Checks: >
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  bugprone-*,

  -modernize-use-trailing-return-type,
  -readability-convert-member-functions-to-static,
  -bugprone-easily-swappable-parameters,
  -readability-identifier-length,
HeaderFilterRegex: "src/.*"